<div style="background-color: #080404; min-height: 100vh; padding: 50px; margin-left: 25%; color: white;">
  <!-- Formulário de Filtro Centralizado -->
  <form class="d-flex flex-column align-items-center mb-4">
    <div class="d-flex gap-2 mb-3 justify-content-center">
      <!-- Filtro por Data -->
      <input type="date" class="form-control border-dark text-white" [(ngModel)]="denunciaSeletor"
        name="dataCriacao" placeholder="Data" required
        style="background-color: #202327; border-radius: 20px; width: 250px;" />

      <!-- Filtro por Usuário -->
      <input type="text" class="form-control border-dark text-white" [(ngModel)]="denunciaSeletor" name="usuario"
        placeholder="Usuário" required style="background-color: #202327; border-radius: 20px; width: 250px;" />
    </div>

    <!-- Botões de Buscar e Limpar Lado a Lado -->
    <div class="d-flex gap-2 mb-3">
      <button type="button" class="text-dark"
        style="background-color: #ffffff; padding: 10px; border: 1px solid #080404; border-radius: 20px; width: 150px;"
        (click)="pesquisarComFiltros()">
        <i class="bi bi-search"></i> Buscar
      </button>

      <button type="button" class="text-dark"
        style="background-color: #ffffff; padding: 10px; border: 1px solid #080404; border-radius: 20px; width: 150px;"
        (click)="limparFiltros()">
        Limpar
      </button>

      <button class="btn btn-primary" [routerLink]="'/pruus/detalhe'" style="border-radius: 20px; width: 120px;">
        Post
      </button>
    </div>
  </form>
  <h2 class="text-center mb-4">Posts Denunciados</h2>
  <div class="d-flex flex-wrap justify-content-center">
    <!-- <div *ngFor="let denuncia of denuncias" class="mb-4" style="width: 100%; max-width: 600px;"> -->
      <div class="card shadow-sm text-light" style="background-color: #080808; border: 1px solid #413e3e;">
        <div class="card-body">

          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">malu</h5>
            <p class="card-text text-end mb-2"><small class="text-light">17/11/2024</small></p>
          </div>

          <p class="card-text">vai se fuder</p>

          <p class="card-text mb-1"><strong>Motivo da denúncia:</strong> abuso</p>
          <p class="card-text"><small class="text-dark-emphasis">Denunciado por: vic</small>
          </p>

          <div class="d-flex justify-content-center">

            <a href="/denunias/:id" class="btn btn-primary w-75 mb-3" style="background-color: #1d99ed; border-radius: 20px;">Analisar</a>
            <!-- <button class="btn btn-danger" (click)="removerPost(denuncias.pruu)">Remover Post</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
