<app-menu></app-menu>
<div style="background-color: #080404; min-height: 100vh; padding: 50px; margin-left: 25%; color: white;">
  <!-- Formulário de Filtro Centralizado -->
  <form class="d-flex flex-column align-items-center mb-4">
    <div class="d-flex gap-2 mb-3 justify-content-center">
      <!-- Filtro por Data -->



        <!-- Filtro por Data -->
        <div class="row" style="margin-bottom: 5px;">
          <label for="dataInicio" class="text-white">De</label>
          <input type="date" class="form-control text-white" [(ngModel)]="denunciaSeletor.criadoEmInicio" name="dataCriacao"
            style="background-color: #202327; border-radius: 10px; width: 150px;" />
        </div>

        <div class="row" style="margin-bottom: 5px;">
          <label for="dataFim" class="text-white">Até</label>
          <input type="date" class="form-control text-white" [(ngModel)]="denunciaSeletor.criadoEmFim" name="dataFim"
            style="background-color: #202327; border-radius: 10px; width: 150px;" />
        </div>

      <!-- Filtro por Usuário -->
        <div class="row" style="margin-bottom: 5px;">
          <label for="usuario" class="text-white">Usuário</label>
          <select class="form-control text-white" [(ngModel)]="denunciaSeletor.idUsuario" name="usuario"
            style="background-color: #202327; border-radius: 10px; width: 200px;">
            <option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nome }}</option>
          </select>
        </div>
    </div>

    <!-- Botões de Buscar e Limpar Lado a Lado -->
    <div class="d-flex gap-2 mb-3">
      <button type="button" class="text-dark"
        style="background-color: #ffffff; padding: 10px; border: 1px solid #080404; border-radius: 20px; width: 150px;"
        (click)="pesquisarComFiltros()">
        <i class="bi bi-search"></i> Buscar
      </button>

      <button type="button" class="text-dark"
        style="background-color: #ffffff; padding: 10px; border: 1px solid #080404; border-radius: 20px; width: 150px;"
        (click)="limparFiltros()">
        Limpar
      </button>

    </div>
  </form>
  <h2 class="text-center mb-4">Pruus Denunciados</h2>
  <div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let denuncia of dadosDenuncias" class="mb-4" style="width: 100%; max-width: 600px;">
      <div class="card shadow-sm text-light" style="background-color: #080808; border: 1px solid #413e3e;">
        <div class="card-body">

          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">{{denuncia.nomeUsuario}}</h5>
            <p class="card-text text-end mb-2"><small class="text-light">{{denuncia.criadoEm | date:'dd/MM/yyyy HH:mm'}}</small></p>
          </div>

          <p class="card-text">{{denuncia.textoPruu}}</p>

          <p class="card-text mb-1"><strong>Motivo da denúncia:</strong>{{denuncia.motivo}}</p>
          <p class="card-text"><small class="text-dark-emphasis">Denunciado por: {{denuncia.nomeDenunciante}}</small>
          </p>

          <a class="btn btn-primary w-75 mb-3" style="background-color: #1d99ed; border-radius: 20px;" (click)="analisarDenuncia(denuncia.id)">Analisar</a>
          <div class="d-flex justify-content-center">

          </div>
        </div>
      </div>
    </div>
  </div>
