<app-menu></app-menu>
<div class="container-fluid"
  style="background-color: #080404; height: 100vh; color: white; padding-top: 40px; padding-left: 50vh;">
  <h2 class="text-center mb-4 text-white">Novo pruu</h2>
  <div class="card mb-4 shadow-sm"
    style="background-color: #080404; color: white; border: 1px solid #888888; max-width: 600px; margin: 0 auto;">
    <div class="card-body">
      <form #ngForm="ngForm" name="pruuForm" (ngSubmit)="cadastrar()">
        <div class="mb-3">
          <textarea id="textoPruu" class="form-control" [(ngModel)]="pruu.texto" name="texto"
            placeholder="O que está acontecendo?" rows="4" required
            style="background-color: #080404; color: white; border: none; border-bottom: 1px solid #888888; border-radius: 0; font-size: 1.2rem;"></textarea>
        </div>
        <style>
          #textoPruu::placeholder {
            color: #d7d6d6;

          }
        </style>
        <div *ngIf="selectedFile" class="row mb-3">
          <div class="col-md-12 text-center">
            <div class="preview-container">
              <img [src]="imagePreview" alt="Pré-visualização" class="img-fluid rounded shadow-sm"
                style="max-width: 200px; max-height: 300px; object-fit: contain;" />
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="fotoPruu" class="form-label">
            <i class="bi bi-camera" style="font-size: 30px; cursor: pointer; color: #1d99ed;"></i>
          </label>
          <input type="file" id="fotoPruu" class="form-control" accept="image/*" style="display: none;"
            (change)="onFileSelected($event)" />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-outline-success col-md-3"
            style="background-color: #1d99ed; border-radius: 20px;">
            Pruublicar
          </button>
        </div>
      </form>

    </div>
  </div>
</div>
