<app-menu></app-menu>
<div class="container-fluid"
  style="background-color: #080404; height: 100vh; color: white; padding-top: 40px; padding-left: 50vh;">
  <div class="card mb-4 shadow-sm"
    style="background-color: #080404; color: white; border: 1px solid #888888; max-width: 600px; margin: 0 auto;">
    <div class="card-body">
      <form #ngForm="ngForm">
        <div class="mb-3">
          <textarea id="textoPruu" class="form-control" [(ngModel)]="pruu.texto" placeholder="O que está acontecendo?"
            name="texto" rows="4" required
            style="background-color: #080404; color: white; border: none; border-bottom: 1px solid #888888; border-radius: 0; font-size: 1.2rem;">
          </textarea>
        </div>

        <div class="mb-3">
          <!-- <button class="btn text-white" (click)="onFileSelected($event)" aria-label="Upload de imagem"></button> -->
          <label for="fotoPruu" class="form-label">

            <i class="bi bi-camera" style="font-size: 30px; cursor: pointer; color: #1d99ed;"></i>
          </label>
          <input type="file" id="fotoPruu" class="form-control" accept="image/*" style="display: none;" />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-outline-success col-md-3" (click)="cadastrar()"
            style="background-color: #1d99ed; border-radius: 20px;">
            Pruuzar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <div class="container-fluid"
  style="background-color: #080404; height: 100vh; color: white; padding-top: 40px; padding-left: 50vh;">
  <div class="card mb-4 shadow-sm"
    style="background-color: #080404; color: white; border: 1px solid #888888; max-width: 600px; margin: 0 auto;">
    <div class="card-body">
      <form #ngForm="ngForm">
        <div class="mb-3">
          <textarea id="textoPruu" class="form-control" [(ngModel)]="pruu.texto" placeholder="O que está acontecendo?"
            name="texto" rows="4" required
            style="background-color: #080404; color: white; border: none; border-bottom: 1px solid #888888; border-radius: 0; font-size: 1.2rem;">
          </textarea>
        </div>

        <div class="mb-3">
          <button class="btn text-white" (click)="onFileSelected($event)" aria-label="Upload de imagem"></button>
          <label for="fotoPruu" class="form-label">

            <i class="bi bi-camera" style="font-size: 30px; cursor: pointer; color: #1d99ed;"></i>
          </label>
          <input type="file" id="fotoPruu" class="form-control" accept="image/*" style="display: none;" />
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-outline-success col-md-3" (click)="inserir()"
            style="background-color: #1d99ed; border-radius: 20px;">
            Pruuzar
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
