<app-menu></app-menu>

<div style="background-color: #080404; min-height: 100vh; padding: 50px; margin-left: 25%; color: white;">
  <h2 class="text-center mb-4">Detalhes da Denúncia</h2>

  <div class="card shadow-sm text-light" style="background-color: #080808; border: 1px solid #413e3e;">
    <div class="card-body">
      <!-- Detalhes da Denúncia -->
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-title mb-0">{{denuncia.usuario.nome}}</h5>
        <p class="card-text text-end mb-2"><small class="text-light">{{denuncia.pruu.criadoEm}}</small></p>
      </div>

      <p class="card-text">{{denuncia.pruu.texto}}</p>

      <p class="card-text mb-1"><strong>Motivo da denúncia:</strong>{{denuncia.motivo}}</p>
      <p class="card-text"><small class="text-dark-emphasis">Denunciado por: {{denuncia.usuario.nome}}</small></p>

      <!-- Opções de Ação -->
      <!-- <div class="d-flex gap-2 justify-content-center">
        <button class="btn btn-danger" style="border-radius: 20px;" (click)="analisarDenuncia(denuncia.id, )">
          Bloquear
        </button>
        <button class="btn btn-success" style="border-radius: 20px;" (click)="analisarDenuncia(denuncia.id, 'APROVADO')">
          Aprovar
        </button>
      </div> -->

      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-secondary" (click)="voltarParaListagem()" style="border-radius: 20px;">
          Voltar para a lista
        </button>
      </div>
    </div>
  </div>
</div>
