<div class="container-fluid g-5 border-black" style="background-color: #282c34; min-height: 100vh; overflow-x: hidden;">
  <div class="row text-center p-2 align-items-center justify-content-center border-dark">
    <div class="col col-md-4 pt-5">
      <div class="card border-dark shadow " style="border-radius: 20px; overflow: hidden;">
        <div class="card-header bg-black rounded-top border-black">
          <img src="assets/images/pigeon.png" alt="lago" class="img-fluid mx-auto d-block" style="max-width: 100px;">
          <h3 class="text-center text-white pt-2">Entrar no Pombo</h3>
        </div>
        <div class="card-body bg-black">
          <form #ngForm="ngForm">
            <div class="mb-3">
              <input [ngClass]="(!dto.login && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
                [(ngModel)]="dto.login" type="text" class="form-control border-dark" name="email" placeholder="E-mail"
                style="width: 100%; border-radius: 20px; text-align: center; padding: 10px;" required />
              <div class="invalid-feedback">Informe o email</div>
            </div>
            <div class="mb-3">
              <input [ngClass]="(!dto.senha && ngForm.dirty) ? 'form-control is-invalid' : 'form-control'"
                [(ngModel)]="dto.senha" type="password" class="form-control border-dark" name="senha" placeholder="Senha" style="width: 100%; border-radius: 20px; text-align: center; padding: 10px;" required>
              <div class="invalid-feedback">Informe a senha</div>
            </div>
            <div class="text-center">
              <button type="button" class="btn "
                style="background-color: #9c6f99;color: white; padding: 10px 20px; border: 1px solid #000; border-radius: 30px; cursor: pointer; width: 60%;"
                (click)="logar()" [disabled]="!ngForm.valid">
                Entrar
              </button>

              <div>
                <span class="align-items-start">
                  <p class="text-white mt-3 mb-0">Não tem uma conta? <a [routerLink]="['/cadastro']"
                      class="btn-link d-inline" style="color: #9c6f99;">Cadastre-se</a></p>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
